# Autodetect text files
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf

# Leave Media alone
*.jpg -text diff
*.jpeg -text diff
*.gif -text diff
*.png -text diff
